<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Recommendation system</title>
    <link href="{{url_for('static', filename = 'styles.css')}}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body>
    <div class="grid">

        <form method="post" action="/recommendations" class="search">
    
          <div class="form__field">
            <input type="search" name="movie" placeholder="What are you looking for?" class="form__input">
            <input type="submit" value="Search" class="button">
          </div>
    
        </form>
    
      </div>
    {% block body %}{% endblock %}
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{url_for('static', filename = 'script.js')}}"></script>
</html>

<!-- method="post" action="/recommendations" -->